{% extends 'base.html' %}
    {% block content %}
                <center class="table-responsive">
                    <table class="mt-3 mb-3 w-50 table table-striped table-hover table-dark table-bordered table-sm">
                        <thead>
                            <tr>
                                <th class="title">Note</th>
                                <th class="title text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for info in infos %}
                            <tr>
                                <td>{{info}}</td>
                                <td class="coluna2 text-center">
                                    <div class="btn-group">
                                        <form action='update/{{info.id}}' method="get">
                                            <button type="submit" class="btn btn-outline-warning my-1 mx-2"><i class="material-icons">&#xE254;</i></button>
                                        </form>
                                        <form action='delete/{{info.id}}' method="post">
                                            <button type="submit" class="btn btn-outline-danger m-1"><i class="material-icons">&#xE872;</i></button>
                                        </form>
                                    </div>
                                </td>                                          
                            </tr>
                            {% endfor %}   
                        </tbody>
                    </table>
                </center>
                <a class="create btn btn-outline-light" href="create" title="Create">New note</a>
            </div>
        </body>
    {% endblock %}