{% extends 'base.html' %}
    {% block content %}
        <center>
            <form>
                <!-- Email input -->
                <div class="form-outline my-4 w-25">
                    <input type="text" class="form-control btn-outline-secondary" />
                    <label class="form-label">User</label>
                </div>
                <!-- Password input -->
                <div class="form-outline mb-4 w-25">
                    <input type="password" class="form-control btn-outline-secondary" />
                    <label class="form-label">Password</label>
                </div>
                <button type="button" class="btn btn-light mb-4">Sign in</button>
            </form>
        </center>
    {% endblock %}