{% extends 'base.html' %}
    {% block content %}
        <center>
            <form action="" method="POST">
                <div class="form-outline my-4 w-25">
                    <input name="user" type="text" class="form-control btn-outline-secondary" />
                    <label class="form-label">User</label>
                </div>
                <div class="form-outline mb-4 w-25">
                    <input name="password" type="password" class="form-control btn-outline-secondary" />
                    <label class="form-label">Password</label>
                </div>
                <button type="submit" class="btn btn-light mb-4">Sign in</button>
            </form>
        </center>
    {% endblock %}