{% extends 'base.html' %}
    {% block content %}
      <h3 class="text-warning">Update</h3>
      <form action='' method = "POST">
        <center>
          <div class="input-group w-50 mt-5">
            <input type="text" name="texto" value="{{info.texto}}" class="form-control">
            <button type="submit" class="btn btn-outline-success"><i class="material-icons">&#xe5ca;</i></button>
            <a href="/"><button class="btn btn-outline-danger" type="button"><i class="material-icons">&#xe5cd;</i></button></a>
          </div>
        </center>
      </form>
    {% endblock %}